body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 47.62%
      );;
}

.container {
    margin-top: 115px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.title{
    margin-bottom: 66px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;    
}

.todo{
    margin-bottom: 94px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;  
}

.goBtn{
    width: 500px;
    height: 60px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;  
    color: #FFFFFF;
    background-color: #0094FF;
    border: none;
    cursor: pointer;
}